<!--
<h1> hello world</h1>
{% for item in items %}
  <h1> {{ item.km }} </h1>
  <p> {{ item.open_time }} <p>
    <p> {{ item.close_time }} <p>
{% endfor %}
-->
<h1> ACP Brevet Times </h1>

<table class="control_time_table" id="control_tab" style = "width:69%;">
    <tr>
<th> Km </th>
<th>Open</th>
<th>Close</th>
    </tr>
 {% for item in items %}
  <tr class="control">
    <td> {{ item.km }} </td>
    <td> {{ item.open_time }} </td>
    <td> {{ item.close_time }} </td>
  </tr>
  {% endfor %}
</table>
